:root {
  --primary-color: rgb(19, 19, 247);
  --secondary-color: rgb(100, 100, 100);
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  box-sizing: border-box;
  font-family: sans-serif;
}

.highlight {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.container {
  margin: auto;
  width: 90%;
  max-width: 70.5em;
}

.container-nav {
  margin: auto;
  width: 90%;
  max-width: 70.5em;
}

.header {
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 243, 0.5);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  list-style: none;
  margin: 1em 0 1em 1em;
  padding: 1em 0;
}

nav li:hover {
  border-bottom: blue solid 2px;
}

nav a {
  text-decoration: none;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav li a:hover {
  color: var(--primary-color);
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.showcase {
  padding-top: 200px;
}

.text-white {
  color: #ffffff;
}

.text-center {
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 45px;
  margin: 0px;
}

.showcase p {
  padding: 1em 0;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background: var(--primary-color);
  margin: 1em 0;
}

.btn:hover {
  background: rgb(5, 5, 63);
  transition: background 150ms ease-in-out;
}

.btn-view:hover {
  color: white;
}

.btn-view {
  margin-left: 5px;
  background: rgba(12, 12, 236, 0.123);
}

header {
  position: relative;
}

.image {
  position: absolute;
  top: 0;
  left: 53%;
  z-index: -1;
}

@media (min-width: 768px) {
  .nav-toggle-label {
    display: none;
  }

  .header {
    display: flex;
  }

  nav {
    all: unset;
    display: flex;
    align-items: center;
  }

  nav ul {
    display: flex;
    align-items: center;
  }

  nav a {
    opacity: 1;
  }

  nav li {
    margin: 0 2em;
  }

  .showcase {
    padding-top: 300px;
    width: 50%;
  }

  h1 {
    padding: 0;
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .showcase {
    width: 100%;
  }
  .image {
    display: none;
  }

  .bg-img {
    background: url(../img/photo.jpg);
    background-size: cover;
    background-position: bottom;
  }

  .overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  h1 {
    color: white;
  }

  .secondary-color {
    color: rgb(235, 235, 235);
  }

  .btn-view {
    background: rgb(32, 32, 124, 0.5);
    color: white;
  }

  .login {
    color: white;
  }

  .container-nav {
    margin: auto;
    width: 100%;
    max-width: 70.5em;
  }

  nav li:hover {
    border-bottom: white solid 2px;
  }
}
